.header {
  border-bottom: 1px solid $color-border-primary;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 16px 0;

  @media screen and (min-width: $tablet-size) {
    padding: 26px 0;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop-size) {
    padding: 24px 0 25px;
    margin-right: 93px;
  }

}
