
$color-primary: #757575;
$color-secondary: #212121;
$color-accent:#2196f3;
$color-accent-hero-btn: #188ce8;
$color-hero-primary: #ffffff;
$color-address: rgba(255, 255, 255, 0.6);
$color-logo-primary: #000000;
$color-logo-secondary: #ffffff;
$color-border-primary: #ececec;
$color-border-secondary: #eeeeee;
$color-work-title: rgba(47, 48, 58, 0.8);
$color-footer-input-text: rgba(255, 255, 255, 0.6);
$color-footer-border:rgba(255, 255, 255, 0.3);
$color-modal-close: rgba(0, 0, 0, 0.1);

$fill-team-icons: #afb1b8;

$bg-color-backdrop: rgba(0, 0, 0, 0.2);
$bg-color-overlay: rgba(33, 150, 243, 0.9);
$bg-color-footer: #2f303a;
$bg-color-team: #f5f4fa;
$bg-color-footer-link: rgba(255, 255, 255, 0.1);
$bg-color-menu: #ffffff;

$box-shadow-grid-decorated: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-product: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);;

$font-family-brand: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-logo: 'Raleway', Arial, Helvetica, sans-serif;

$transition-function-time: 250ms;
$transition-function-type: cubic-bezier(0.4, 0, 0.2, 1);

$card-set-gap: 30px;

$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1200px;