.filter {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;

  @media screen and (max-width: calc($tablet-size - 1px)){
    flex-wrap: wrap;
  }

  @media screen and (min-width: $tablet-size) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop-size){
    margin-bottom: 50px;
  }
}

.filter__item {
  @media screen and (min-width: $mobile-size) and (max-width: calc($tablet-size - 1px)) {
    .filter &:nth-child(3) {
      margin-right: 10px;
    }
    .filter &:first-child {
      margin-bottom: 7px;
    }
  }
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;

  color: $color-secondary;
  font-family: $font-family-brand;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: $bg-color-team;
  border: 1px solid $bg-color-team;
  border-radius: 4px;
  transition: color $transition-function-time $transition-function-type,
    background-color $transition-function-time $transition-function-type,
    border-color $transition-function-time $transition-function-type,
    filter $transition-function-time $transition-function-type;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-hero-primary;

    background-color: $color-accent;
    border-color: $color-accent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.active {
  color: $color-hero-primary;

  background-color: $color-accent;
  border-color: $color-accent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
